body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #87CEEB;
    color: white;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

header input[type="text"] {
    margin-top: 1rem;
    padding: 0.5rem;
    width: 80%;
    max-width: 600px;
    border: none;
    border-radius: 5px;
}

main {
    padding: 1rem;
    padding-bottom: 60px;
    display: flex;
    justify-content: center; /* Align center */
    flex-wrap: wrap; /* Allows cards to wrap to new lines */
}

.recipe-card {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    width: calc(33.333% - 2rem); /* Adjust as needed for spacing */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.recipe-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.recipe-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.recipe-card h3 {
    margin: 0.5rem 0;
}

@media (max-width: 768px) {
    .recipe-card {
        width: calc(50% - 2rem);
    }
}

@media (max-width: 480px) {
    .recipe-card {
        width: calc(100% - 2rem);
    }
}
